.learn__more, .button__pets, .nav__link__item, .arrow__slider, .slider__card, .pet_nav_item, .pets__nav__slider {
  transition: all .3s ease-out; }

.about__text, .donation__text {
  font-family: Arial, Helvetica, sans-serif; }

.arrow__slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  cursor: pointer; }
  .arrow__slider:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4; }

* {
  box-sizing: border-box; }

html {
  font-size: 10px;
  scroll-behavior: smooth; }

body {
  font-size: 1.6rem;
  font-family: 'Georgia', Verdana, sans-serif;
  margin: 0; }

h1 {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  margin: 0; }

h2 {
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5.7rem; }

h3 {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.5rem; }

.button {
  font-family: 'Georgia', Verdana, sans-serif;
  padding: 15px 45px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.2rem;
  border-radius: 100px;
  cursor: pointer;
  transition: all .3s;
  background-color: #F1CDB3; }
  .button__primary {
    border: 2px solid #F1CDB3;
    background-color: #F1CDB3; }
    .button__primary:hover {
      background-color: #FDDCC4;
      border-color: #FDDCC4; }

.button__credit__card {
  border-radius: 9px;
  color: #545454;
  border-color: #F1CDB3;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 349px;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem; }
  @media (max-width: 320px) {
    .button__credit__card {
      margin: auto;
      width: 281px;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.7rem; } }

.card__button__text {
  margin: 0;
  padding-left: 15px; }

.learn__more {
  margin-bottom: 30px;
  color: #292929;
  border: 2px solid #F1CDB3;
  background-color: #FAFAFA;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem; }
  .learn__more:hover {
    background-color: #F1CDB3; }

.button__pets {
  margin-top: 60px;
  color: #292929;
  border: none;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem; }
  @media (max-width: 320px) {
    .button__pets {
      margin-top: 42px; } }

.ico {
  cursor: pointer;
  display: inline-block;
  height: 60px;
  width: 60px; }

.ico_food {
  background-image: url("../img/icons_help/food.svg"); }

.ico_transportation {
  background-image: url("../img/icons_help/icon-transportation.svg"); }

.ico_toys {
  background-image: url("../img/icons_help/icon-toys.svg"); }

.ico_bowls_and_cups {
  background-image: url("../img/icons_help/icon-bowls-and-cups.svg"); }

.ico_shampoos {
  background-image: url("../img/icons_help/icon-shampoos.svg"); }

.ico_vitamins {
  background-image: url("../img/icons_help/icon-vitamins.svg"); }

.ico_medicines {
  background-image: url("../img/icons_help/icon-medicines.svg"); }

.ico_collars_leashes {
  background-image: url("../img/icons_help/icon-collars-leashes.svg"); }

.ico_sleeping_areas {
  background-image: url("../img/icons_help/icon-sleeping-area.svg"); }

.ico_credit_card {
  height: 23px;
  width: 30px;
  background-image: url("../img/icons_donation/credit-card.svg"); }

.ico_location {
  width: 22px;
  height: 32px;
  background-image: url("../img/icons_footer/icon-marker.svg"); }

.ico_mail {
  width: 40px;
  height: 32px;
  background-image: url("../img/icons_footer/icon-email.svg"); }

.ico_phone {
  width: 40px;
  height: 32px;
  background-image: url("../img/icons_footer/icon-phone.svg"); }

.hamburger:before, .hamburger:after, .hamburger__line {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #F1CDB3;
  border-radius: 5px;
  height: 2px;
  width: 100%; }

.hamburger {
  display: none;
  position: relative;
  width: 30px;
  height: 22px; }
  @media (max-width: 320px) {
    .hamburger {
      display: inline-block; } }
  .hamburger:before {
    top: 0;
    left: 0; }
  .hamburger:after {
    bottom: 0;
    left: 0; }

.hamburger__line {
  top: calc(50% - 1.5px); }

.wrapper {
  max-width: 1200px;
  margin: auto; }
  @media (max-width: 768px) {
    .wrapper {
      max-width: 708px;
      margin: auto; } }
  @media (max-width: 320px) {
    .wrapper {
      max-width: 300px;
      margin: auto; } }

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 6rem; }
  @media (max-width: 320px) {
    .header__wrapper {
      padding-right: 43px;
      display: flex;
      align-items: center;
      justify-content: space-between; } }
  @media (max-width: 768px) {
    .header__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 3rem; } }

.title__link {
  color: #F1CDB3;
  text-decoration: none; }
  @media (max-width: 768px) {
    .title__link {
      font-size: 3.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.5rem; } }

.subtitle {
  color: #FFFFFF;
  padding-top: 1rem;
  margin: 0; }
  @media (max-width: 768px) {
    .subtitle {
      font-size: 1.3rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5rem; } }
  @media (max-width: 320px) {
    .subtitle {
      font-size: 1.3rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5rem; } }

.header__pets {
  padding: 30px 40px; }

.header__pets__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.pets__title__link {
  color: #545454;
  text-decoration: none; }

.pets__subtitle {
  color: #292929; }

.start__screen__content {
  background-image: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%); }

.start__screen__content__wrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px; }
  @media (max-width: 768px) {
    .start__screen__content__wrapp {
      display: flex;
      flex-direction: column; } }

.start__screen__text__content {
  width: 460px; }
  @media (max-width: 768px) {
    .start__screen__text__content {
      display: flex;
      align-items: center;
      flex-direction: column; } }
  @media (max-width: 320px) {
    .start__screen__text__content {
      width: 300px;
      display: flex;
      align-items: center;
      flex-direction: column; } }

.start__screen__heading {
  color: #FFFFFF;
  margin: 0 150px 0 0; }
  @media (max-width: 768px) {
    .start__screen__heading {
      font-size: 4.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 5.7rem; } }
  @media (max-width: 320px) {
    .start__screen__heading {
      margin: 0;
      text-align: center;
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.2rem; } }

.start__screen__subheading {
  color: #CDCDCD;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  margin: 42px 0; }
  @media (max-width: 320px) {
    .start__screen__subheading {
      text-align: center;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.4rem; } }

@media (max-width: 768px) {
  .start__screen__img__puppy {
    width: 569px;
    height: 593px;
    margin-top: 100px;
    align-self: end; } }
@media (max-width: 320px) {
  .start__screen__img__puppy {
    width: 260px;
    height: 271px;
    margin-top: 105px;
    align-self: end; } }

.nav__links {
  display: flex; }

.nav__link {
  list-style: none;
  padding: 0 17px; }

.nav__link__item {
  color: #CDCDCD;
  text-decoration: none; }
  .nav__link__item:hover {
    color: #FAFAFA; }
  .nav__link__item:active {
    border-bottom: 3px solid #F1CDB3; }
  @media (max-width: 768px) {
    .nav__link__item {
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.4rem; } }

@media (max-width: 320px) {
  .header__nav {
    display: none; } }

.about__section__class {
  background-color: #FFFFFF;
  padding: 80px 0 100px; }

.about {
  display: flex;
  justify-content: space-between;
  padding: 0 175px; }
  @media (max-width: 768px) {
    .about {
      flex-direction: column-reverse;
      align-items: center;
      padding: 0; } }
  @media (max-width: 320px) {
    .about {
      flex-direction: column-reverse;
      align-items: center;
      padding: 0; } }

@media (max-width: 768px) {
  .about__dog_cat__img {
    width: 300px;
    margin-top: 80px; } }
@media (max-width: 320px) {
  .about__dog_cat__img {
    width: 260px;
    margin-top: 42px; } }

.about__text__content {
  padding: 14px 0;
  width: 430px; }
  @media (max-width: 768px) {
    .about__text__content {
      padding: 0; } }
  @media (max-width: 320px) {
    .about__text__content {
      width: 300px; } }

.about__heading {
  padding-right: 60px;
  margin: 0;
  width: 370px;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.5rem; }
  @media (max-width: 320px) {
    .about__heading {
      width: 300px;
      padding: 0 30px;
      margin: auto;
      text-align: center;
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.2rem; } }

.about__text {
  margin: 0;
  padding-top: 25px;
  color: #4C4C4C;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem; }

.help__section {
  padding: 80px 0 100px; }

.help {
  display: flex;
  flex-direction: column;
  align-items: center; }

.heading__help {
  width: 308px;
  text-align: center;
  color: #545454;
  margin: 0;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.5rem; }
  @media (max-width: 320px) {
    .heading__help {
      width: 220px;
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.2rem; } }

.help__content__wrapper {
  width: 1026px;
  display: flex;
  flex-wrap: wrap; }
  .help__content__wrapper .ico__wrapper {
    flex: 174px;
    align-items: center;
    margin-top: 55px; }
  @media (max-width: 768px) {
    .help__content__wrapper {
      display: grid;
      grid-gap: 60px;
      grid-template-columns: repeat(3, 1fr);
      width: 630px; } }
  @media (max-width: 320px) {
    .help__content__wrapper {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: 1fr 1fr;
      width: 300px; } }

.ico__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  cursor: pointer; }

.ico__title {
  color: #545454;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem;
  padding-top: 30px; }
  @media (max-width: 320px) {
    .ico__title {
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.7rem;
      padding-top: 20px; } }

.donation__section {
  background-color: #F6F6F6; }

.donation {
  padding: 80px 142px 100px; }
  @media (max-width: 768px) {
    .donation {
      padding: 80px 0 100px; } }

.donation__container {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 768px) {
    .donation__container {
      margin: auto;
      flex-direction: column-reverse; } }

.donation__content {
  max-width: 380px; }

.heading__donation {
  width: 300px;
  margin: 0;
  padding-right: 40px;
  color: #545454;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.5rem; }
  @media (max-width: 320px) {
    .heading__donation {
      padding: 0;
      margin: auto;
      text-align: center;
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.2rem; } }

.subheading__donation {
  margin: 0;
  padding: 20px 0 20px;
  color: #545454;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7rem; }
  @media (max-width: 320px) {
    .subheading__donation {
      text-align: center;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.4rem; } }

.donation__text {
  color: #B2B2B2;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem; }
  @media (max-width: 768px) {
    .donation__text {
      margin: 20px 0 60px; } }
  @media (max-width: 320px) {
    .donation__text {
      max-width: 280px;
      margin: 20px auto 42px; } }

@media (max-width: 320px) {
  .donation__dog__img {
    width: 260px; } }

.footer__section {
  background-image: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
  padding-top: 40px; }

.footer {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .footer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 10px; } }
  @media (max-width: 320px) {
    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.contacts__container {
  display: flex;
  flex-direction: column;
  width: 278px; }
  @media (max-width: 768px) {
    .contacts__container {
      grid-column: 1 / span 2;
      grid-row: 1 / span 1; } }

.location__container {
  width: 302px; }
  @media (max-width: 768px) {
    .location__container {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1; } }

@media (max-width: 768px) {
  .footer__dog__img {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
    justify-self: center; } }
@media (max-width: 320px) {
  .footer__dog__img {
    width: 260px;
    margin-top: 40px; } }

.footer__heading {
  padding-top: 1.6rem;
  margin: 0;
  color: #FFFFFF;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.5rem; }
  .footer__heading.location {
    width: 270px; }
  @media (max-width: 320px) {
    .footer__heading {
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.2rem;
      text-align: center; } }

.contacts__link {
  padding-top: 4rem;
  color: #F1CDB3;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 251px;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem; }

.contacts__text {
  margin: 0;
  width: 192px; }

.address {
  color: #F1CDB3;
  width: 302px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem; }
  .address.boston {
    padding-top: 34px; }
  .address.london {
    padding-top: 37px; }

.address__text {
  margin: 0;
  width: 260px; }

.pets {
  background-color: #F6F6F6;
  padding: 80px 0 100px; }
  @media (max-width: 320px) {
    .pets {
      padding: 42px 0; } }

.slider__wrapper {
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (max-width: 320px) {
    .slider__wrapper {
      display: flex;
      flex-direction: column; } }

.pets__slider {
  display: flex; }

.arrow__slider:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4; }
@media (max-width: 320px) {
  .arrow__slider {
    display: none; } }

@media (max-width: 320px) {
  .arrow__slider__mob {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    cursor: pointer; }
    .arrow__slider__mob:hover {
      background-color: #FDDCC4;
      border-color: #FDDCC4; } }

.slider__controlers__mob {
  display: none; }
  @media (max-width: 320px) {
    .slider__controlers__mob {
      display: flex;
      justify-content: space-between;
      width: 184px;
      margin-top: 20px; } }

.slider__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  border-radius: 9px;
  background-color: #FAFAFA;
  cursor: pointer; }
  .slider__card:hover {
    background-color: #FFFFFF; }
  @media (max-width: 768px) {
    .slider__card {
      margin: 0 12px 0 20px; }
      .slider__card:last-child {
        display: none; } }
  @media (max-width: 320px) {
    .slider__card {
      display: none; }
      .slider__card:first-child {
        margin: 0;
        display: flex; } }

.pet__name {
  padding: 30px 0; }

.pets__content {
  display: flex;
  flex-direction: column;
  align-items: center; }

.heading__pets {
  width: 400px;
  color: #545454;
  margin: 0;
  text-align: center;
  letter-spacing: 0.06rem;
  padding-bottom: 60px;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.5rem; }
  @media (max-width: 320px) {
    .heading__pets {
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.2rem;
      width: 300px; } }

.pet_nav_item {
  color: #545454;
  text-decoration: none; }
  .pet_nav_item:hover {
    color: #292929; }
  .pet_nav_item:active {
    border-bottom: 3px solid #F1CDB3; }

.main__pets {
  background-color: #F6F6F6;
  padding: 80px 0 100px; }

.pets__page__heading {
  width: 400px;
  color: #545454;
  margin: 0;
  text-align: center;
  letter-spacing: 0.06rem;
  padding-bottom: 60px;
  margin: auto;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.5rem; }

.pets__card__wrapp {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px; }

.pets_page {
  margin: 0; }

.nav_slider_container {
  width: 340px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 45px; }

.pets__nav__slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  cursor: pointer; }
  .pets__nav__slider:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4; }

/*# sourceMappingURL=style.css.map */
