.learn__more, .button__pets, .nav__link__item, .arrow__slider, .slider__card {
  transition: all .3s ease-out; }

.about__text, .donation__text {
  font-family: Arial, Helvetica, sans-serif; }

* {
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-size: 1.6rem;
  font-family: 'Georgia', Verdana, sans-serif;
  margin: 0; }

h1 {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  margin: 0; }

h2 {
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5.7rem; }

h3 {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.5rem; }

.button {
  font-family: 'Georgia', Verdana, sans-serif;
  padding: 15px 45px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.2rem;
  border-radius: 100px;
  cursor: pointer;
  transition: all .3s;
  background-color: #F1CDB3; }
  .button__primary {
    border: 2px solid #F1CDB3;
    background-color: #F1CDB3; }
    .button__primary:hover {
      background-color: #FDDCC4;
      border-color: #FDDCC4; }

.button__credit__card {
  border-radius: 9px;
  color: #545454;
  border-color: #F1CDB3;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem; }

.card__button__text {
  margin: 0;
  padding-left: 15px; }

.learn__more {
  margin-bottom: 30px;
  color: #292929;
  border: 2px solid #F1CDB3;
  background-color: #FAFAFA;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem; }
  .learn__more:hover {
    background-color: #F1CDB3; }

.button__pets {
  margin-top: 60px;
  color: #292929;
  border: none;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem; }

.ico {
  cursor: pointer;
  display: inline-block;
  height: 60px;
  width: 60px; }

.ico_food {
  background-image: url("../img/icons_help/food.svg"); }

.ico_transportation {
  background-image: url("../img/icons_help/icon-transportation.svg"); }

.ico_toys {
  background-image: url("../img/icons_help/icon-toys.svg"); }

.ico_bowls_and_cups {
  background-image: url("../img/icons_help/icon-bowls-and-cups.svg"); }

.ico_shampoos {
  background-image: url("../img/icons_help/icon-shampoos.svg"); }

.ico_vitamins {
  background-image: url("../img/icons_help/icon-vitamins.svg"); }

.ico_medicines {
  background-image: url("../img/icons_help/icon-medicines.svg"); }

.ico_collars_leashes {
  background-image: url("../img/icons_help/icon-collars-leashes.svg"); }

.ico_sleeping_areas {
  background-image: url("../img/icons_help/icon-sleeping-area.svg"); }

.ico_credit_card {
  height: 23px;
  width: 30px;
  background-image: url("../img/icons_donation/credit-card.svg"); }

.ico_location {
  width: 22px;
  height: 32px;
  background-image: url("../img/icons_footer/icon-marker.svg"); }

.ico_mail {
  width: 40px;
  height: 32px;
  background-image: url("../img/icons_footer/icon-email.svg"); }

.ico_phone {
  width: 40px;
  height: 32px;
  background-image: url("../img/icons_footer/icon-phone.svg"); }

.wrapper {
  max-width: 1200px;
  margin: auto; }

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 6rem; }

.title__link {
  color: #F1CDB3;
  text-decoration: none; }

.subtitle {
  color: #FFFFFF;
  padding-top: 1rem;
  margin: 0; }

.start__screen__content {
  background-image: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%); }

.start__screen__content__wrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px; }

.start__screen__text__content {
  width: 460px; }

.start__screen__heading {
  color: #FFFFFF;
  margin-right: 150px; }

.start__screen__subheading {
  color: #CDCDCD;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  margin: 42px 0; }

.nav__links {
  display: flex; }

.nav__link {
  list-style: none;
  padding: 0 17px; }

.nav__link__item {
  color: #CDCDCD;
  text-decoration: none; }
  .nav__link__item:hover {
    color: #FAFAFA; }
  .nav__link__item:active {
    border-bottom: 3px solid #F1CDB3; }

.about {
  background-color: #FFFFFF;
  padding: 80px 0 100px; }

.about__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 175px; }

.about__text__content {
  padding: 14px 0;
  width: 430px; }

.about__heading {
  padding-right: 60px;
  margin: 0;
  width: 370px;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.5rem; }

.about__text {
  margin: 0;
  padding-top: 25px;
  color: #4C4C4C;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem; }

.help {
  padding: 80px 0 100px; }

.help__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }

.heading__help {
  width: 308px;
  text-align: center;
  color: #545454;
  margin: 0;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.5rem; }

.help__content__wrapper {
  width: 1026px;
  padding-top: 60px; }

.help__content__first__row {
  display: flex;
  justify-content: space-between; }

.help__content__second__row {
  display: flex;
  justify-content: space-around;
  padding-top: 5.5rem; }

.ico__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  cursor: pointer; }

.ico__title {
  color: #545454;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem;
  padding-top: 30px; }

.donation {
  background-color: #F6F6F6; }

.donation__content__wrapp {
  padding: 80px 142px 100px; }

.donation__container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.donation__content {
  width: 380px; }

.heading__donation {
  width: 300px;
  margin: 0;
  padding-right: 40px;
  color: #545454;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.5rem; }

.subheading__donation {
  margin: 0;
  padding: 20px 0 20px;
  color: #545454;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7rem; }

.donation__text {
  color: #B2B2B2;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem; }

.footer {
  background-image: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
  padding-top: 40px; }

.footer__wrapper {
  display: flex;
  justify-content: space-between; }

.contacts__container {
  display: flex;
  flex-direction: column;
  width: 278px; }

.footer__heading {
  padding-top: 1.6rem;
  margin: 0;
  color: #FFFFFF;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.5rem; }
  .footer__heading.location {
    width: 270px; }

.location__container {
  width: 302px; }

.contacts__link {
  padding-top: 4rem;
  color: #F1CDB3;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 251px;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem; }

.contacts__text {
  margin: 0;
  width: 192px; }

.address {
  color: #F1CDB3;
  width: 302px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem; }
  .address.boston {
    padding-top: 34px; }
  .address.london {
    padding-top: 37px; }

.address__text {
  margin: 0;
  width: 260px; }

.pets {
  background-color: #F6F6F6;
  padding: 80px 0 100px; }

.slider__wrapper {
  display: flex;
  align-items: center;
  justify-content: center; }

.pets__slider {
  display: flex; }

.arrow__slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  cursor: pointer; }
  .arrow__slider:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4; }

.slider__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  border-radius: 9px;
  background-color: #FAFAFA;
  cursor: pointer; }
  .slider__card:hover {
    background-color: #FFFFFF; }

.pet__name {
  padding: 30px 0; }

.pets__content {
  display: flex;
  flex-direction: column;
  align-items: center; }

.heading__pets {
  width: 400px;
  color: #545454;
  margin: 0;
  text-align: center;
  letter-spacing: 0.06rem;
  padding-bottom: 60px;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.5rem; }

/*# sourceMappingURL=style.css.map */
