.footer__section {
    background-image: $footer-gradient-background;
    padding-top: 40px;
}

.footer {
    display: flex;
    justify-content: space-between;
    @include media-tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }
    @include media-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

.contacts__container {
    display: flex;
    flex-direction: column;
    width: 278px;
    @include media-tablet {
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
    }
}

.location__container {
    width: 302px;
    @include media-tablet {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }
}

.footer__dog__img {
    @include media-tablet {
        grid-column: 1 / span 2;
        grid-row: 2 / span 2;
        justify-self: center;
    }
    @include media-mobile {
        width: 260px;
        margin-top: 40px;
    }
}

.footer__heading {
    padding-top: 1.6rem;
    margin: 0;
    color: $color-light-xl;
    @include font($size: 3.5rem, $height: 4.5rem);
    &.location {
        width: 270px;
    }
    @include media-mobile {
        @include font($size: 2.5rem, $height: 3.2rem);
        text-align: center;
    }
}



.contacts__link {
    padding-top: 4rem;
    color: $color-primary;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 251px;
    @include font($size: 2rem, $height: 2.3rem);
}

.contacts__text {
    margin: 0;
    width: 192px;
}

.address {
    color: $color-primary;
    width: 302px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include font($size: 2rem, $height: 2.3rem);
    &.boston {
        padding-top: 34px;
    }
    &.london {
        padding-top: 37px;
    }
}

.address__text {
    margin: 0;
    width: 260px;
}