html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Georgia', Verdana, sans-serif;
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
}

h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
}

h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
}
