.ico {
    cursor: pointer;
    display: inline-block;
    height: 60px;
    width: 60px;
}

.ico_food {
    background-image: url("../img/icons_help/food.svg");
}

.ico_transportation {
    background-image: url("../img/icons_help/icon-transportation.svg");
}

.ico_toys {
    background-image: url("../img/icons_help/icon-toys.svg");
}

.ico_bowls_and_cups {
    background-image: url("../img/icons_help/icon-bowls-and-cups.svg");
}

.ico_shampoos {
    background-image: url("../img/icons_help/icon-shampoos.svg");
}

.ico_vitamins {
    background-image: url("../img/icons_help/icon-vitamins.svg");
}

.ico_medicines {
    background-image: url("../img/icons_help/icon-medicines.svg");
}

.ico_collars_leashes {
    background-image: url("../img/icons_help/icon-collars-leashes.svg");
}

.ico_sleeping_areas {
    background-image: url("../img/icons_help/icon-sleeping-area.svg");
}

.ico_credit_card {
    height: 23px;
    width: 30px;
    background-image: url("../img/icons_donation/credit-card.svg");
}