.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 6rem;
}

.title__link {
    color: $color-primary;
    text-decoration: none;
}

.subtitle {
    color: $color-light-xl;
    padding-top: 1rem;
    margin: 0;
}

