.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 6rem;
    @include media-mobile {
        padding-right: 43px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    @include media-tablet {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 3rem;
    }
}

.title__link {
    color: $color-primary;
    text-decoration: none;
    @include media-tablet {
        @include font($size: 3.2rem, $height: 3.5rem);
    }
}

.subtitle {
    color: $color-light-xl;
    padding-top: 1rem;
    margin: 0;
    @include media-tablet {
        @include font($size: 1.3rem, $height: 1.5rem);
    }
    @include media-mobile {
        @include font($size: 1.3rem, $height: 1.5rem);
    }
}

